@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}
:root{
    --primary-color:#FF4400;
    --white-color:#fff;
    --dark-color:#000;
    --gray-color:#717275;
    --gray-light-color:#d0d1d1;
    --bg-color:#fff;
    --text-color:#000;
    --header-bg:#fff;
    --owner-bg:#effafa;
}
 [data-theme='1'] {
    --bg-color: #121212;
    --text-color: #ffffff;
    --header-bg : #1c1c1c;
  }
body{
    background: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color;
  }
.contanier{
    width: 90%;
    margin:1.5rem auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.spacing{
    margin-bottom: 4rem;
    margin-top: 4rem;
}

/* 
////////////////////////////////////////// header //////////////////////////////////////
*/

header{
   background-color: var(--header-bg);
   position: fixed; 
   top: 0;
   left: 0;
   right: 0;
   /* background-color: var(--white-color); */
   height: 5rem;
   z-index: 999999999999999999999999999999999999999999999;
}

nav{
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    display: flex;
    gap: 50px;
}
.logo{
    font-size: 1.7rem;  
    cursor: pointer;
}
.logo:hover{
    color: var(--primary-color);
}
.logo strong span{
    color:var(--primary-color);
}
.icons i{
    margin-right: 1.5rem;
    cursor: pointer;
    color: var(--gray-color);
}
.icons i:hover{
    color: var(--primary-color);
}
nav ul li a{
    color:var(--gray-color);
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s, padding-bottom 0.3s;
}
nav ul li a:hover{
    color: var(--primary-color);
    position: relative;
    padding-bottom: 2px;
}
nav ul li a:hover::after{
    content:"";
    position: absolute;
    background-color: var(--gray-light-color);
    top: 100%;
    left: 0%;
    width: 100%;
    height: 2px;  
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.9s ease;
}
a.active{
color: var(--primary-color);
position: relative;
padding-bottom: 2px;
}
.active::after{
content:"";
position: absolute;
background-color: var(--gray-light-color);
top: 100%;
left: 0%;
width: 100%;
height: 2px;
}
.mobile-nav{
    display: none;
}
#mobile-icon{
    display: none;
    color: var(--text-color);
}
#nav-list{
    display: none;
}
#close-icon{
    display: none;
}
#mob-icon{
    display: none;
}
.sign-in{
    display: none;
    background-color: var(--white-color);
     width: 80%;
    margin:5rem  auto;
    height: 50%; 
    color: var(--dark-color);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sign-in.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign-in h3{
 font-size: 2rem;
 font-weight: 800;
 margin-bottom: 1rem;
 text-align: center;

}
.sign-in p{
    text-align: center;
}
.sign-in input {
    margin-bottom: 1rem;
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    border: solid var(--gray-light-color);
    outline: none;
}
.sign-in button{
    padding:0.5rem 1rem;
    border: none;
    border: 2px solid var(--dark-color) ;
    border-radius: 8px;
    background-color: var(--dark-color);
    color: var(--white-color);
    width: 100%;
    font-size: larger;
    margin-bottom: 2rem;
}
/* 
//////////////////////////////////   media screen    ////////////////////////////////
*/

@media (max-width:768px) {
    nav{
       justify-content: start;
       gap: 2.5rem;
    }
    #mobile-icon {
        display: block;
        line-height: 0.5;
        color: var(--dark-color);
        cursor: pointer;
        transition: transform 0.3 ease;
        margin-bottom: 0.5rem;
    }
    /* #mobile-icon>p{
      transform: rotate(45deg) translate(5px,5px);
    }
    #mobile-icon .end-line{
        transform: rotate(-45deg) translate(5px,-5px);
    }
    #mobile-icon #hidden{
        opacity: 0;
    } */
#nav-screen{
    display: none;
}
.mobile-nav{
    display: block;
    text-align: center;
}
.logo{
    font-size:1.2rem ;
}
#close-icon{
    color: var(--dark-color);
    font-size: 1.7rem;
    cursor: pointer;
}
.icons i{
    margin-right:0.2rem;
}
#nav-list{ 
    position: absolute;
    top: -25rem;
    left:0;
    right: 100%;
    bottom: 0;
    background-color: var(--bg-color);
    width: 100%;
    padding: 1rem;
    text-align: center;
    height:100vh;
    flex-direction: column;
    gap: 1.5rem;
    align-items: start;
    justify-content: end;
    z-index:-1;
}}

/* /
////////////////////////////////////  content-slider //////////////////////////////////////  
*/
.content{
    position: relative;
    z-index:-2;
    margin-top: 2rem;
    background-color: var(--white-color);
}
.swiper{
    width: 100%;
    height: auto;
}
.swiper-wrapper img{
    width: 100%; 
    height: auto; 
    display: block;
}
.content .swiper h1{
    position: absolute;
    top: 50%; 
    left: 20%; 
    transform: translateX(-50%);  
    color: white; 
    font-size: 3rem; 
    font-weight: 700; 
    z-index: 3;
}
.swiper-slide p{
    letter-spacing: 2px;
    position: absolute;
    top: 60%; 
    left: 20%; 
    transform: translateX(-50%);  
    color: white; 
    font-size: 0.8rem;  
    z-index: 3;
    text-align: center;
}
.swiper-slide .btn a{
    position: absolute;
    top: 69%; 
    left: 20%; 
    padding: 10px 15px;
    background-color:var(--dark-color);
    border: 2px solid var(--dark-color);
    border-radius: 20px;
    transform: translateX(-50%);  
    color: white; 
    font-size: 1rem;  
    z-index: 3;
}
.swiper-slide{
    position: relative;
   text-align: center; 
}

/* 
/////////////////////media screen///////////////////////////////
*/
@media (max-width:768px){
    .content{
    margin-top:4rem;
    background-color: var(--bg-color);
    }
    .content .swiper h1{
       top: 23%;
       font-size: 1.5rem;
       margin-top:1rem;
      left: 40%;
    }
    .content .swiper p{
        top: 33%;
        left: 45%;
        font-size: 0.6rem;
        margin-top: 1.5rem;
        text-align: center;
    }
    .content .swiper .btn a{
        top: 70%;
        left: 43%;
        margin-bottom: 5rem;
    } 
}

/* 
/////////////////////////////////////////////////////// about /////////////////////////////////////////////////////////////
*/

.aboout h2{
    text-align: center;
    margin:4rem  auto;
    font-size: 2.5rem;
    font-weight: 800;
}
.aboout h2 span ,h3 span , .owners-text h2 span{
    color: var(--primary-color);
}
.slider-about {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}
.slider-about h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
}
.slider-about p , .owners-text p{
    color: #bdbaba;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.slider-about ul{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: start;
 gap: 1rem;
}
.slider-about ul li a{
    color: var(--gray-color);
    font-weight: 800;
    font-size: 1rem;
}
.slider-about ul li a:hover{
    color: var(--primary-color);
}
.slider-about ul li a.active{
    color: var(--primary-color);
}
#How-We-Worke{
    display: none;
}
#Capabilites{
    display: none;
}

/* 
////////////////////////////////media screen///////////////////////////////
*/
@media (max-width:768px){
    .aboout>h2{
        font-size: 2rem;
        margin-bottom:2rem ;
    }
    .slider-about {
         align-items: start;
        flex-direction: column;
    }
    .slider-about img{
        width: 100%;
    }
}

/*
/////////////////////////////////////// owners section///////////////////////////
*/
section.owners-shop{
    background-color: var(--bg-color);
}
.owners-shop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: var(--owner-bg);
    gap: 4rem;
}
figure{
    width: 50%;
    height: 100%;
}
figure img{
    width: 100%;
    height: 100%;
} 
.owners-shop .owners-text{
    width: 50%;
    height: 100%;

}
.owners-text h2{
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 800;
}
.owners-text a , .slider-text a{
    color: #717275;
}
.owners-text a:hover, 
.slider-text a:hover,
.Featured-Products a:hover{
color: var(--primary-color);
}
/* 
////////////////////////media screen//////////////////////
*/
@media (max-width:768px){
    .owners-shop{
    flex-direction: column;    
   overflow: hidden;
    }
    figure{
        width: 100%;
    }
    .owners-shop .owners-text{
        margin-left: 5rem;
        margin-bottom: 1rem;
        width: 100%;
    }
}


/* 
//////////////////////////////////featued-products-section////////////////////////////
*/
.Featured-Products{
    position: relative;
    margin-bottom: 10rem;
}
.Featured-Products .all-products{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}
.Featured-Products h2{
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
    font-weight: 800;
}
.Featured-Products .products-img{
    position: relative;
}
.products-img i{
    position: absolute;
    top: 4%;
    left: 90%;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}
.products-img i:hover{
    color: var(--primary-color);
    font-weight: 800;
}
.products-img button{
    position: absolute;
    top: 3%;
    left: 2%;
    padding: 5px 10px;
    background: var(--white-color);
    color: var(--dark-color);
    border: none;
    cursor: pointer;
}
.products-text{
    margin-top: 2rem;
}
.products-text h4{
    display: inline-block;
    margin-right: 14rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.9rem;
}
.products-text small , 
.products-text p{
    font-size: 1rem;
    font-weight: 400;
    color: #999
}
.all-products .product{
 width: 35%;
}
.products-img img{
  width: 100%;
  cursor: pointer;
  transition: 0.5s ease;
}
.products-img img:hover{
    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.1);
}
.Featured-Products .product-link{
    color: #717275;
    font-weight: 500;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid #999;
    margin-bottom: 5rem;
}
/* 
////////////////////////media screen//////////////////////
*/
@media (max-width:768px){
    .Featured-Products .all-products{
        flex-direction: column;
        width: 100%;
        justify-content: center;
       align-items: center;
    }
    .Featured-Products h2{
        margin-bottom: 2rem;
        font-size: 2rem;
        text-align: center;
        font-weight: 800;
    }
    .all-products .product{
        width: 100%;
       }
       .products-text h4{
        margin-right: 10rem;
       }
       .Featured-Products .product-link{
        position: absolute;
        top: 105%;
        left: 50%;
    }
}

/* 
////////////////////////////footer//////////////////////////////////
*/

footer{
  background-color: #000;
  flex-wrap: wrap;
  color: white;
  padding: 20px 0;
  text-align: center;
}
.footer-container{
    height: 100vh;
    translate: -8rem;
    max-width: 1200px;
    padding-left: 5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: end;
    
}
footer h3{ 
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1rem;
}
.logo-foot span{
    color: var(--gray-color);
}
.logo-foot p{
    color: var(--gray-color);
    margin: 2rem;
    font-size: 1rem;
    font-weight: 600;
}
.footer-list{
    display: flex;
    line-height: 1.5rem;
    gap: 2rem;
}
.footer-list a{
    color: #717275;
}
.footer-list a:hover{
    color: var(--white-color);
}
.social-icons{
    display: flex;
    gap: 1rem;
    color: var(--gray-color);
    cursor: pointer;
}
.social-icons i:hover{
    color: var(--white-color);
}

.ads {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
  }
  .ads img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
/* 
////////////////////////media screen//////////////////////
*/
@media (max-width:668px){
    .logo-foot {
        /* display: block; */
        margin-left: 2.5rem;
    }
    footer h3{
        font-size: 1rem;
    }
    .social{
        margin-left: 1.5rem;
    }
    .social-icons{
       gap: 5px;
    }
        .ads img {
          max-width: 100%;
        
        }
}